<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="index.css">
</head>

<body class="body">
    <div class="header">
        <h1>Weather</h1>
        <form action="" id="search-form">
            <input type="text" placeholder="Enter your City" id="search-input">
            <button id="search-button">Search</button>
        </form>
        <h3 class="loc">Delhi</h3>
    </div>
    <div id="main">
        <div id="main-img">
            <img class="temp-icon" src="../static/sun.png" alt="Loading">
        </div>
        <div id="main-info">
            <div class="stats">
                <img src="../static/hot.png" alt="Loading">
               <h4>Temperature:</h4><h4 class="tempval">-</h4><h4> &#176 C</h4> 
            </div>
            <div class="stats">
                <img src="../static/storm.png" alt="Loading">
                <h4>Wind Speed:</h4><h4 class="wspeed">-</h4><h4>m/s</h4>
            
            </div>
            <div class="stats">
                <img src="../static/humidity.png" alt="Loading">
                <h4>Humdity:</h4><h4 class="humid">-</h4><h4>%</h4>
            </div>
            <div class="stats">
                <img src="../static/schedule.png" alt="Loading">
                <h4>Date:</h4><h4 class="date">07/07/2022</h4>
            </div>
            <div class="stats">
                <img src="../static/clock.png" alt="Loading">
                <h4>Time:</h4><h4 class="time">10:00 am</h4>
            </div>
        </div>
    </div>
    <div class="second-container">

        <div class="days">
            <img class="day1-img" src="../static/sun.png" alt="Loading">
            <h4 class="day1">-</h4><h4>&#176 C</h4>
        </div>
        <div class="days">
            <img class="day2-img" src="../static/sun.png" alt="Loading">
            <h4 class="day2">-</h4><h4>&#176 C</h4>
        </div>
        <div class="days">
            <img class="day3-img" src="../static/sun.png" alt="Loading">
            <h4 class="day3">-</h4><h4>&#176 C</h4>
        </div>
        <div class="days">
            <img class="day4-img" src="../static/sun.png" alt="Loading">
            <h4 class="day4">-</h4><h4>&#176 C</h4>
        </div>
        <div class="days">
            <img class="day5-img" src="../static/sun.png" alt="Loading">
            <h4 class="day5">-</h4><h4>&#176 C</h4>
        </div>
        <div class="days">
            <img class="day6-img" src="../static/sun.png" alt="Loading">
            <h4 class="day6">-</h4><h4>&#176 C</h4>
        </div>
        <div class="days">
            <img class="day7-img" src="../static/sun.png" alt="Loading">
            <h4 class="day7">-</h4><h4>&#176 C</h4>
        </div>
    </div>
</body>
<script src="../index.js"></script>

</html>